.fotostextos {
    width: 40vw;
    max-height: 100%;
    border-radius: 5px;
    margin-bottom: 100px;
    margin-top: -20px;
}

#fot001 {
    transform: rotate(270deg);
}

#fot002 {
    width: 75vw;

}

#fot003 {
    width: 75vw;

}

#foto004 {
    transform: rotate(90deg);
    width: 95vw;
    margin-top: 10px;
    
}

#foto005 {
    width: 70vw;
    
}

#foto006 {
    transform: rotate(90deg);
    margin-top: -50px;

}

#foto007 {
    width: 70vw;
}

#foto008 {
    width: 70vw;

}

#foto009 {
    width: 70vw;

}

#foto010 {
    width: 75vw;

}

#foto011 {
    transform: rotate(90deg);
    margin-top: -60px;
    margin-bottom: 50px;

}

#foto012 {
    width: 75vw;

}

#foto013 {
    width: 75vw;

}

#foto014 {
    width: 75vw;

}

#foto015 {
    transform: rotate(90deg);
    margin-top: -60px;
    margin-bottom: 50px;

}

#foto016 {
    transform: rotate(90deg);
    width: 85vw;
    margin-top: 10px;
    
}

#foto017 {
    width: 75vw;

}

#foto018 {
    width: 75vw;

}

#foto019 {
    width: 75vw;

}

#foto020 {
    width: 75vw;

}

#foto021 {
    width: 75vw;

}

#foto022 {
    width: 75vw;

}

#foto023 {
    width: 75vw;

}

#foto024 {
    width: 75vw;

}

#foto025 {
    width: 75vw;

}

#foto026 {
    width: 75vw;

}

#foto028 {
    width: 75vw;

}

#foto029 {
    width: 75vw;

}

#foto030 {
    width: 75vw;

}

#foto031 {
    width: 75vw;

}

#foto032 {
    width: 75vw;

}

#foto033 {
    width: 75vw;

}

#foto034 {
    width: 75vw;

}

#foto035 {
    width: 75vw;

}

#foto036 {
    width: 75vw;

}

#foto038 {
    width: 75vw;

}

#foto039 {
    width: 75vw;

}

#foto040 {
    width: 75vw;

}

#foto041 {
    width: 75vw;

}

#foto042 {
    width: 75vw;

}

#foto043 {
    width: 75vw;

}

#foto044 {
    width: 75vw;

}

#foto045 {
    width: 75vw;

}

#foto046 {
    width: 75vw;

}

#foto047 {
    width: 75vw;

}

#foto048 {
    width: 75vw;

}

#foto049 {
    width: 75vw;

}

#foto050 {
    width: 75vw;

}

#foto051 {
    width: 75vw;

}

#foto052 {
    width: 75vw;

}

#foto053 {
    width: 75vw;

}

#foto054 {
    width: 75vw;

}

#foto055 {
    width: 75vw;

}

#foto056 {
    width: 75vw;

}


#foto057 {
    width: 75vw;

}

#foto058 {
    width: 75vw;

}

#foto059 {
    width: 75vw;

}

#foto059 {
    width: 75vw;
}

#foto060 {
    transform: rotate(270deg);

}

#foto061 {
    width: 75vw;
}

#foto062 {
    width: 75vw;
}

#foto063 {
    transform: rotate(90deg);
    width: 55vw;
}

#foto064 {
    width: 75vw;
}


